@import "../library/bourbon/bourbon";
@import "../library/neat/neat";


/* --------------------------------------------
portfolio App styling Index
------------------------------------------------

 1. variables
 2. typography
 3. layout
 4. header
 5. about
 6. timeline
 7. footer
 8. project page

--------------------------------------------*/


/*--------------------------------------
1. variables
---------------------------------------*/

//grid & breakpoints

$neat-grid: (
  columns: 12,
  gutter: 20px,
  );

$tablet-screen:only screen and (min-width : 480px);
$medium-screen:only screen and (min-width : 768px);
$large-screen:only screen and (min-width: 1024px);


//colors

$green:#83BD6A;
$green-dark:#529035;
$blue:#53A6A9;
$blue-dark:#3B717F;
$brown:#A27570;
$brown-dark:#82534E;

$white:#ffffff;
$neutral:#B6B9B4;
$neutral-light: lighten($neutral, 15%);
$neutral-lighter: lighten($neutral, 20%);
$neutral-dark:#353635;


//base settings

$base-radius:2px;
$base-font-size:14px;
$base-line-height:1.5;
$base-spacing: 2px;

$spacing:30px;
$spacing-small:$spacing / 2;
$spacing-large:$spacing * 2;



/*--------------------------------------
2. typography
---------------------------------------*/

$font-base:'Crimson Text', sans-serif;
$font-heading:'Muli', sans-serif;

html{
  font-size:$base-font-size;
  line-height:$base-line-height;
  color:$neutral-dark;
  font-family: $font-base;

}


h1{
  font-size:2rem;
  font-weight:600;
  margin-bottom: $spacing;
  color:$neutral-dark;
  font-family: $font-heading;
  text-transform:uppercase;
  letter-spacing:$base-spacing;
}

h2{
  font-size:1.5rem;
  font-weight: 200;
  color:$neutral;
  font-family: $font-heading;
  text-transform:uppercase;
  letter-spacing:$base-spacing;
}

h3{
  font-size:1.2rem;
  color:$neutral-dark;
  margin-bottom: $spacing-small;
  font-weight: 600;
  font-family: $font-heading;
  letter-spacing:$base-spacing / 2;
}

h4{
  font-size:1.1rem;
  font-weight: 200;
  color:$neutral;
  font-family: $font-heading;
  letter-spacing:$base-spacing / 2;
}


p{
  font-size:1.1rem;
  margin-top: 0;
  line-height:$base-line-height;
  color:$neutral-dark;
  font-family: $font-base;
}

p.quote{
  font-style: italic;
  //color:$neutral;
}

a{
  color:$blue;

  &:hover, &:active, &:visited{
    color:$blue-dark;
  }
}

/*--------------------------------------
3. layout
---------------------------------------*/

.content{
  @include grid-container;
  max-width: 1024px;
  margin: $spacing auto;
  padding:0 $spacing-small;

  h1{
    text-align: center;
  }

  @media #{$medium-screen} {

    margin:$spacing-large auto;
    padding:0 20px;
  }
}

button{

  padding:10px $spacing-small;
  border-radius: $base-radius;
  font-size: 1em;
  font-family: $font-heading;
  text-transform:uppercase;
  letter-spacing: 2px;

  &.primary{
    color:$white;
    border-color:$green;
    background-color: $green;
  }
}

/*--------------------------------------
4. header
---------------------------------------*/

div.header-index {
  background-color:$blue;
  //height: 300px;
  padding: $spacing-small;

  div.road{
    display: none;
  }


  div.header-background{
    margin: 1em auto;
    height:15em;
    width:15em;
    background:url("./assets/images/avatar-head.png") no-repeat;
    background-size:contain;
    background-position: center;

    a{
      display: none;
    }
  }

  @media #{$medium-screen}{
    background-color:transparent;
    padding:$spacing $spacing 0;
    position: relative;
    //bottom:-5px;


    div.road{
      display: block;
      position: absolute;
      top:217px;
      left:0;
      background-color: $neutral-dark;
      height: 1.4em;
      width: 35%;
      z-index: -2;

    }

    div.header-background{
      @include grid-container;
      //border:1px solid $green;
      margin: 0 auto;
      background:url("./assets/images/avatar-scene.png") no-repeat;
      background-size:contain;
      background-position: center;
      width:100%;
      max-width: 735px;
      height: 300px;


      a{
        display: inline-block;
        padding:10px $spacing-small;
        border-radius: $base-radius;
        position: relative;
        top:6em;
        font-size:1.2em;
        text-transform: uppercase;


        &.experience{
          color: $neutral-dark;
         // top:7.5em;
          //left: 25px;

          &:hover, &:active{
            background-color:$neutral-dark;
          }
        }

        &.skills{
          color: $green;
          //top:4em;
          left: 2em;

          &:hover, &:active{
            background-color: $green;
          }
        }

        &.knowledge{
          color: $blue;
          //top:5.5em;
          left: 14em;

          &:hover, &:active{
            background-color:$blue;
          }
        }

        &.interests{
          color: $brown;
          //top:8em;
          left: 15em;

          &:hover, &:active{
            background-color:$brown;
          }
        }

        &:hover, &:active{
          cursor: pointer;
          color: $white;
        }
      }
    }
  }
}

div#header-title{
  background-color: $neutral-dark;
  padding:$spacing-small 0;
  text-align: center;
  z-index: 10;
  transition: top 0.2s ease-in-out;

  h1{
    color:$white;
    text-align: center;
    margin:0 $spacing-small/2;
  }

  h4{
    margin: 0;
  }

  &.sticky-on{
    //background-color: $b;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    margin: 0;
  }

  &.nav-up{
    top:-60px;
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*--------------------------------------
5. about
---------------------------------------*/

.content.about{

  > p.quote{
    @include grid-column(12);
    text-align: center;
  }

  a.test-link{
    @include grid-column(12);
    padding:$spacing;
    background-color: $green;

    &:hover{
      background-color: $green-dark;
      cursor: pointer;
    }
  }

  div.location{

    @include grid-column(12);

    > div{
        margin: $spacing-small 0;
        display: flex;
        justify-content: center;
        align-items: center;

      span{
        height: 30px;
        width: 20px;
        background:url("./assets/images/location-icon.png") no-repeat;
        background-size:contain;
        margin-right: $spacing-small;
      }

      p.quote{
        color:$brown;
        margin-bottom: 0;
      }
    }
  }

  @media #{$medium-screen} {

    > p.quote{
      @include grid-column(8);
      @include grid-shift(2);
    }

    p.quote {
      font-size: 1.2rem
    }
  }
}

/*--------------------------------------
5. timeline
---------------------------------------*/

.timeline{

  //overflow: hidden;

  &::before{
    content:'';
    display:none;
    position:absolute;
    height:850px;
    padding:30px 0;
    width:15px;
    background-color: $neutral-dark;
    border-radius: $base-radius;
    z-index: 5;

    @media #{$medium-screen} {
      display:block;
      left:50%;
      margin-left: -5px;
    }
  }

  div.timeline-event{


    &:not(:first-child){
      border-top:1px solid $green;
    }

    h3{
        display: inline-block;
        margin: $spacing-small 0;
      }

    h4{
        display: inline-block;
      margin: $spacing-small 0;
        float:right;
    }

    hr{
      display: none;
    }

    p{
      margin-top: 0;
      height: 60px;
    }

    @media #{$medium-screen} {
      @include grid-column(6);
      border-top: none !important;

      hr{
        display: block;
        margin: 0 0 $spacing-small;
        border-color:$green;
        border-style: solid;
      }

      span.project-block {

        display: block;
        background-color: $green;
        height: 6em;
        width: 1.5em;
        position: relative;
        top:10px;

        &.education{
          background-color: $blue;
        }

      }

      &:nth-child(1), &:nth-child(2){

        .project-block{background-color: $blue;}
        hr{border-color: $blue}
      }

      &:nth-child(odd){
        //padding-right:$spacing;
        margin-bottom:90px;

        .project-block {
          float: right;
         -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
          clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 85%);
          left:5px;

        }

        .event-content{
          margin-right: $spacing;
        }
      }

      &:nth-child(even){
        //padding-left:50px;
        margin-top:90px;

        .event-content{
          margin-left: $spacing;
        }

        .project-block {
          float:left;
          -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 85%, 0 100%);
          clip-path: polygon(0 0%, 100% 15%, 100% 85%, 0 100%);

        }
      }
    }
  }
}

/*--------------------------------------
6. info-blocks
---------------------------------------*/

.content.info{

  hr{
    margin: $spacing-large auto;
    width:40%;
    max-width: 400px;
    border-style: solid;

  }


  .visual{
    //background-color:$neutral-light;
    //background-size: contain;
    @include grid-column(12);

    > div{

      display: flex;
      align-items: center;
      justify-content: center;
      //margin: $spacing-small $spacing-large;
      width: 100%;
      height:auto;

      img{
        display: block;
        width:50%;
        height:auto;
        //background-size: contain;
        //background-position: center;
      }

    }

  }

  .description{

    ul {
        list-style: none;
        padding-left:0;

      li {
        margin-bottom: $spacing-small;

        h3 {
          margin-bottom: $spacing / 4;
        }
      }
    }
  }

  @media #{$medium-screen} {

    .visual{
      @include grid-column(4);

      > div{
        margin:0;
        height: 400px;

        img{
          width: 100%;
        }

      }

    }

    .description{
      //@include grid-shift(1);
      @include grid-column(8);

      ul{
        list-style: circle;
        padding-left:$spacing;

        li{
          padding-left: $spacing-small;
        }
      }
    }
  }
}

.content.knowledge{

  div.visual span{
    background:url("./assets/images/brain-section.png") no-repeat;
  }

  hr{
    border-color:$blue;
  }
}

.content.info.skills{

  div.visual {

  }

  hr{
    border-color:$green;
  }

}

.content.info.interests{

  @media #{$medium-screen} {

    div.visual > div{
      width: 80%;
    }
  }

  hr{
    border-color:$brown;
  }
}


/*--------------------------------------
7. footer
---------------------------------------*/

footer{
  background-color: $neutral-dark;
  padding:$spacing 0;


  .content{
    color:$white;

    h1{
      color:inherit;
    }

    p{
      color: inherit;
      text-align: center;
    }

    div.my-info{

      color:inherit;

      figure{
        @include size(10em);
        border-radius: 50%;
        border: 2px solid $white;
        background-color: $neutral-light;
        background-size:cover;
        background-repeat: no-repeat;
        margin:$spacing-small auto;
      }

      p{
        color:inherit
      }

      ul{
        list-style: none;
        padding:0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: $spacing-small;
        margin-bottom: $spacing-small;

        > li {

          flex:0 1 auto;

          &.link-left{
            margin-right: $spacing-small;
          }

          > a {
            color:inherit;
            display: block;
            line-height: 2rem;
            text-align: center;
            @include size(30px);
            border-radius:$base-radius;
            border: 2px solid $white;
          }
        }
      }
    }

    div.contact{

      color:inherit;

      form{

        input, textarea{

          display:block;
          box-sizing: border-box;
          width: 100%;
          border-radius:$base-radius;
          border:none;
          background:$white;
          margin-bottom: $spacing-small;
          min-height: 30px;
          padding:$spacing-small;

          &::placeholder{
            color:$neutral;
          }
        }

        textarea{
          min-height: 60px;
          max-width: 100%;
          margin-bottom: $spacing;
          overflow: hidden;
        }

        button.primary{
          display:block;
          width: 100%;
          //color:black
        }
      }
    }


    @media #{$tablet-screen}{

      div.contact, div.my-info{

        @include grid-column(10);
        @include grid-shift(1);

        figure{
          @include size(15em);
        }
      }

    }

    @media #{$medium-screen} {

      div.contact, div.my-info {

        @include grid-column(8);
        @include grid-shift(2);


        form button.primary{
          width: auto;
          float: right;
        }


      }
    }

    @media #{$large-screen} {

      div.my-info{

        @include grid-column(4);
        @include grid-shift(0);



        ul > li{

          &.link-left {
            margin-right: $spacing;
          }

          > a {
            @include size(40px);
            line-height: 3em;
          }
        }

      }
      div.contact {
        @include grid-column(8);
        @include grid-shift(0);
      }
    }
  }
}

@import "./project-page";


