/* --------------------------------------------
portfolio App styling Index
------------------------------------------------

 1. variables
 2. typography
 3. layout
 4. header
 5. about
 6. timeline
 7.
--------------------------------------------*/
/*--------------------------------------
1. variables
---------------------------------------*/
/*--------------------------------------
2. typography
---------------------------------------*/
html {
  font-size: 14px;
  line-height: 1.5;
  color: #353635;
  font-family: "Crimson Text", sans-serif; }

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: #353635;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  color: #B6B9B4;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }

h3 {
  font-size: 1.2rem;
  color: #353635;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: "Muli", sans-serif;
  letter-spacing: 1px; }

h4 {
  font-size: 1.2rem;
  font-weight: 200;
  color: #B6B9B4;
  font-family: "Muli", sans-serif;
  letter-spacing: 1px; }

p {
  font-size: 1rem;
  margin-top: 0;
  line-height: 1.5;
  color: #353635;
  font-family: "Crimson Text", sans-serif; }

p.quote {
  font-style: italic; }

a {
  color: #53A6A9; }
  a:hover, a:active, a:visited {
    color: #3B717F; }

/*--------------------------------------
3. layout
---------------------------------------*/
.content {
  max-width: 1024px;
  margin: 30px auto;
  padding: 0 15px; }
  .content::after {
    clear: both;
    content: "";
    display: block; }
  .content h1 {
    text-align: center; }
  @media (min-width: 768px) {
    .content {
      margin: 60px auto;
      padding: 0 20px; } }

button {
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 1em;
  font-family: "Muli", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px; }
  button.primary {
    color: #ffffff;
    border-color: #83BD6A;
    background-color: #83BD6A; }

/*--------------------------------------
4. header
---------------------------------------*/
div.header-index {
  background-color: #53A6A9;
  height: 300px;
  padding: 20px; }

div.header-title {
  background-color: #353635;
  padding: 5px 20px;
  text-align: center; }
  div.header-title h1 {
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0; }
  div.header-title h2 {
    margin-top: 0; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*--------------------------------------
5. about
---------------------------------------*/
.content.about > p.quote {
  text-align: center; }

.content.about div.location {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  .content.about div.location > div {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
    .content.about div.location > div span {
      height: 30px;
      width: 20px;
      background: url("./assets/images/location-icon.png") no-repeat;
      background-size: contain;
      margin-right: 15px; }
    .content.about div.location > div p.quote {
      color: #A27570;
      margin-bottom: 0; }

@media (min-width: 768px) {
  .content.about > p.quote {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px;
    left: calc(16.66667% - 23.33333px + 20px);
    position: relative; }
  .content.about p.quote {
    font-size: 1.2rem; } }

/*--------------------------------------
5. timeline
---------------------------------------*/
.timeline {
  min-height: 200px;
  overflow: hidden; }
  .timeline::before {
    content: '';
    display: none;
    position: absolute;
    height: 100%;
    width: 10px;
    background-color: #353635;
    border-radius: 2px; }
    @media (min-width: 768px) {
      .timeline::before {
        display: block;
        left: 50%; } }
  .timeline div.timeline-event:not(:first-child) {
    border-top: 1px solid #83BD6A; }
  .timeline div.timeline-event h3 {
    display: inline-block;
    margin: 15px 0; }
  .timeline div.timeline-event h4 {
    display: inline-block;
    margin: 15px 0;
    float: right; }
  .timeline div.timeline-event hr {
    display: none; }
  .timeline div.timeline-event p {
    margin-top: 0; }
  @media (min-width: 768px) {
    .timeline div.timeline-event {
      width: calc(50% - 30px);
      float: left;
      margin-left: 20px;
      border-top: none !important; }
      .timeline div.timeline-event hr {
        display: block;
        margin: 0 0 15px;
        border-color: #83BD6A;
        border-style: solid; }
      .timeline div.timeline-event:nth-child(odd) {
        margin-bottom: 90px; }
        .timeline div.timeline-event:nth-child(odd) .event-content {
          margin-right: 30px; }
      .timeline div.timeline-event:nth-child(even) {
        margin-top: 90px; }
        .timeline div.timeline-event:nth-child(even) .event-content {
          margin-left: 30px; } }

/*--------------------------------------
6. info-blocks
---------------------------------------*/
.content.info hr {
  margin: 60px auto;
  width: 40%;
  max-width: 400px;
  border-style: solid; }

.content.info .visual {
  background-color: #e9eae9;
  height: 300px;
  margin-top: 30px;
  margin-bottom: 30px; }

.content.info .description ul {
  list-style: none;
  padding-left: 0; }
  .content.info .description ul li {
    margin-bottom: 15px; }
    .content.info .description ul li h3 {
      margin-bottom: 7.5px; }

@media (min-width: 768px) {
  .content.info .visual {
    width: calc(33.33333% - 26.66667px);
    float: left;
    margin-left: 20px; }
  .content.info .description {
    width: calc(66.66667% - 33.33333px);
    float: left;
    margin-left: 20px; }
    .content.info .description ul {
      list-style: circle;
      padding-left: 30px; }
      .content.info .description ul li {
        padding-left: 15px; } }

.content.knowledge hr {
  border-color: #53A6A9; }

.content.info.skills hr {
  border-color: #83BD6A; }

@media (min-width: 768px) {
  .content.info.skills div.visual {
    float: right; } }

.content.info.interests hr {
  border-color: #A27570; }

/*--------------------------------------
7. footer
---------------------------------------*/
footer {
  background-color: #353635;
  padding: 30px 0; }
  footer .content {
    color: #ffffff; }
    footer .content h1 {
      color: inherit; }
    footer .content p {
      color: inherit;
      text-align: center; }
    footer .content div.my-info {
      color: inherit; }
      footer .content div.my-info figure {
        height: 10em;
        width: 10em;
        border-radius: 50%;
        border: 2px solid #ffffff;
        background-color: #e9eae9;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 15px auto; }
      footer .content div.my-info p {
        color: inherit; }
      footer .content div.my-info ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px; }
        footer .content div.my-info ul > li {
          flex: 0 1 auto; }
          footer .content div.my-info ul > li.link-left {
            margin-right: 15px; }
          footer .content div.my-info ul > li > a {
            color: inherit;
            display: block;
            line-height: 2rem;
            text-align: center;
            height: 30px;
            width: 30px;
            border-radius: 2px;
            border: 2px solid #ffffff; }
    footer .content div.contact {
      color: inherit; }
      footer .content div.contact form input, footer .content div.contact form textarea {
        display: block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 2px;
        border: none;
        background: #ffffff;
        margin-bottom: 15px;
        min-height: 30px;
        padding: 15px; }
        footer .content div.contact form input::placeholder, footer .content div.contact form textarea::placeholder {
          color: #B6B9B4; }
      footer .content div.contact form textarea {
        min-height: 60px;
        max-width: 100%;
        margin-bottom: 30px;
        overflow: hidden; }
      footer .content div.contact form button.primary {
        display: block;
        width: 100%; }
    @media (min-width: 480px) {
      footer .content div.contact, footer .content div.my-info {
        width: calc(83.33333% - 36.66667px);
        float: left;
        margin-left: 20px;
        left: calc(8.33333% - 21.66667px + 20px);
        position: relative; }
        footer .content div.contact figure, footer .content div.my-info figure {
          height: 15em;
          width: 15em; } }
    @media (min-width: 768px) {
      footer .content div.contact, footer .content div.my-info {
        width: calc(66.66667% - 33.33333px);
        float: left;
        margin-left: 20px;
        left: calc(16.66667% - 23.33333px + 20px);
        position: relative; }
        footer .content div.contact form button.primary, footer .content div.my-info form button.primary {
          width: auto;
          float: right; } }
    @media (min-width: 1024px) {
      footer .content div.my-info {
        width: calc(33.33333% - 26.66667px);
        float: left;
        margin-left: 20px;
        left: calc(0% - 20px + 20px);
        position: relative; }
        footer .content div.my-info ul > li.link-left {
          margin-right: 30px; }
        footer .content div.my-info ul > li > a {
          height: 40px;
          width: 40px;
          line-height: 3em; }
      footer .content div.contact {
        width: calc(66.66667% - 33.33333px);
        float: left;
        margin-left: 20px;
        left: calc(0% - 20px + 20px);
        position: relative; } }
